<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Truck-In</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="bootstrap/img/logoIco.png" rel="icon">
    <link href="img/logoIco.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <link href="bootstrap/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bootstrap/lib/animate/animate.min.css" rel="stylesheet">
    <link href="bootstrap/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="bootstrap/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="bootstrap/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="bootstrap/css/style.css" rel="stylesheet">x
</head>
<!--==========================
Header
============================-->
<header id="header" class="fixed-top">
    <div class="container">
        <a class="scrollto"> <img src="bootstrap/img/Logo.png" Width="70px"></a>
        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="menuUser">Voltar</a></li>
                <li><a href="/">Sair</a></li>
            </ul>
        </nav><!-- .main-nav -->
    </div>
</header><!-- #header -->

<!--==========================
 Intro Section
============================-->
<body>
<section id="intro" class="clearfix">
    <div class="container">
        <div class="intro-info">
            <form action="buscaMes" method="get">
                <b>Escolha o mês que deseja:</b>
                <select  name="mes" id="mes" class="form-group">
                    <option selected="selected" >Escolhar um mês</option>
                    <option value="0"> Janeiro </option>
                    <option value="1"> Fevereiro </option>
                    <option value="2"> Março </option>
                    <option value="3"> Abril </option>
                    <option value="4"> Maio </option>
                    <option value="5"> Junho </option>
                    <option value="6"> Julho </option>
                    <option value="7"> Agosto </option>
                    <option value="8"> Setembro </option>
                    <option value="9"> Outrubro </option>
                    <option value="10"> Novembro </option>
                    <option value="11"> Dezembro </option>
                </select>
                <input id="btn-submit" class="btn-get-started" type="submit" value="Escolher">
            </form>
            <table  class="table table-hover">
                <thead>
                <tr>
                    <th>Horas Regulares</th>
                    <th>Horas Extras</th>
                    <th>Ganho Total</th>
                </tr>
                </thead>
                <tr>

                    <td> <span th:text="${resSal?.horasRegulares}"></span> </td>
                    <td> <span th:text="${resSal?.horasExtras}"></span> </td>
                    <td> <span th:text="${resSal?.ganhos}"></span> </td>
                <tr>
            </table>
        </div>
    </div>

</section><!-- #intro -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

</html>